@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #EEF2E3;
      margin: 0;
      padding: 20px;
    }

    img{
      display: block;
      margin: 0 auto 20px auto;
    }

    .container {
      max-width: 600px;
      margin: auto;
      background: rgb(174, 216, 191);
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #000000;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input, select, textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #e1d3d3;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      margin-top: 20px;
      background-color: #5d8e70;
      color: #ffffff;
      border: none;
      padding: 12px;
      border-radius: 5px;
      width: 100%;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #4c6054;
    }

    #mensaje {
      margin-top: 15px;
      color: green;
      font-weight: bold;
      text-align: center;
    }


    footer {
      background-color: var(--verde);
      text-align: center;
      padding: 20px;
      margin-top: 50px;
      color: var(--negro);
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }